@import "../../assets/flex.less";
ul {
  margin: 0;
}
a {
  text-decoration: none;
}

.mob__hidden {

  @media (max-width: 1140px) {
    display: none !important;
  } 
}

.menu {
  &__box {
    max-width: 1180px;
    margin: 20px auto;
    padding: 0 40px;
    .flex-display(flex);
    .justify-content(space-between);
    @media (max-width: 1140px) {
      .flex-direction(column);
      .justify-content(flex-start)
    }
    &_navigation {
      display: flex;
      margin: 25px 20px 0 5px;
      padding: 0;
      @media (max-width: 1140px) {
        .flex-direction(column);
        
      }
      li {
        list-style: none;
        margin-right: 40px;
        @media (max-width: 1140px) {
          margin-top: 40px;
        }
        .active {
          color: #784ADC;
        }
        a {
          text-decoration: none;
          color: black;
          
        }
        font-size: 18px;
        line-height: 22.63px;
      }
    }
    &_logo {
      color: #232426;
      font-family: "Comfortaa";
      font-weight: 700;
      font-style: bold;
      font-size: 24px;
      border-radius: 50%;
      margin-top: 15px;
      transform: scale(0.9) translate(0, 0);
      .flex-display(flex);
      .justify-content(center);
      .align-items(center);
      img {
        margin-right: 15px;
        width: 46px;
      }
      @media (max-width: 1140px) {
        .justify-content(flex-start)
      }
      @media (max-width: 600px) {
        display: none;
      }
    }
    &_items {
      &-join {
        @media (max-width:1140px) {
          display: none;
        }
        .flex-display(flex);
        margin-top: 15px;
        button {
          margin-right: 25px;
          width: 200px;
          height: 45px;
          background-color: #784adc;
          color: white;
          font-size: 18px;
          line-height: 22.63px;
          font-weight: 400;
          border: none;
          outline: none;
          cursor: pointer;
          border-radius: 10px;
        }
      }
      .flex-display(flex);
      @media (max-width: 1140px) {
        .flex-direction(column);

        padding: 0;
        margin: 30vh 0 0 0;
        
      }
      .item_auth {
        margin: 25px 0 0 55px;
        list-style: none;
        font-weight: 400;
        border-radius: 10px;
        a {
          color: #232426;
        }
        @media (max-width: 1140px) {
          .flex-display(block);
          padding: 16px;
          margin: 0;
          text-align: center;
          
          background-color: #784ADC;
          a {
            color: white;
            font-weight: 500;
          } 
        }
      }
      .item_registration {
        background-color: #f2f2f2;
        transition: 0.5s;
        padding: 15.5px 45.5px;
        cursor: pointer;
        border-radius: 10px;
        margin: 10px 0 0 55px;
        list-style: none;
        font-weight: 400;
        a {
          color: #232426;
        }
        &:hover {
          background-color: #d9d9d9;
        }
        @media (max-width: 1140px) {
          .flex-display(block);
          padding: 16px;
          margin: 0;
          text-align: center;
          margin-top: 12px ;
          font-weight: 500;
        }
      }
    }
  }
  &__join_navigation {
    width: 300px;
    .flex-display(flex);
    .flex-direction(column);
   @media (max-width: 1140px) {
    display: none;
   }
    ul {
      margin: 0;
     padding: 0 20px;
      li {
        list-style: none;
        width: 220px;
        a {
          color: black;
          display: block;
          text-decoration: none;
          font-size: 18px;
          margin-top: 10px;
          padding: 9px 15px;
          width: 220px;
          border-radius: 10px;
          
        }
        .active {
          background-color: #EDECEC;
        }
        .premium {
          background-color: #F3F3F3;
        }
        img {
          margin-right: 10px;
        }
      }
    }
  }
}
.popup {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  .flex-display(flex);
  .justify-content(center);
  .align-items(center);
  &__registration,
  &__authorization {
    overflow-y: scroll;
    max-height: 90%;
    &_verify {
      .x {
        transform: translate(430px, -40px) !important;
      }
      form {
        width: 312px;
        margin: 50px auto;
        label {
          font-size: 24px;
          input {
            margin: 0;
          }
        }
        button {
          padding: 15px 36px;
          font-size: 18px;
          color: white;
          outline: 0;
          border: none;
          border-radius: 10px;
          cursor: pointer;
          background-color: #784adc;
          margin-top: 30px;
        }
      }
    }
    border-radius: 10px;
    &_form {
      width: 312px;
      margin: 0 auto;
    }
    fieldset {
      .flex-display(flex);
      .flex-direction(column);
      outline: 0;
      border: none;
      margin: 0;
      padding: 0;
      label {
        .flex-display(flex);
        .flex-direction(column);
        margin-top: 16px;
        input {
          padding: 12px 16px;
          font-size: 16px;
          font-family: "Source Sans Pro";
          font-weight: 400;
          margin-top: 5px;
          outline: 0;
          border: 1px solid #d9d9d9;
          border-radius: 10px;
        }
        input::placeholder {
          color: #959595;
          font-weight: 400;
          font-size: 16px;
        }
      }
    }
    background-color: white;
    width: 480px;
    .x {
      position: absolute;
      outline: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transform: translate(220px, 10px);
    }
    .x2 {
      position: absolute;
      outline: 0;
      border: none;
      background-color: transparent;
      cursor: pointer;
      transform: translate(300px, 10px);
    }
    .title {
      display: inline-block;
      font-size: 22px;
      margin-top: 10px;
    }
    .license {
      width: 311px;
      font-size: 12px;
      margin: 14px auto;
    }
    &_submit {
      padding: 15px 36px;
      font-size: 18px;
      color: white;
      outline: 0;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      background-color: #784adc;
      margin-top: 10px;
    }
    .link-login {
      font-size: 12px;
      margin: 15px 0 26px 0;
    }
  }
}
