@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../src/assets/flex.less";
@import "../src/assets/design.less";

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

@import "nouislider/distribute/nouislider.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: white;
}

.home__creatiqa {
  font-family: "Comfortaa";
  background: linear-gradient(
    270deg,
    rgba(255, 51, 133, 0.53) -20.67%,
    rgba(87, 28, 211, 0.78) 82.4%,
    #00acac 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__svg {
  div:nth-child(2) {
    .transform(rotate(32.61deg) translate(80px, 0));
  }
  div:nth-child(5) {
    .transform(rotate(-6.24deg) translate(200px, 460px)); 
  }
}

.d-trsfm {
  padding-top: 50px;
  margin-left: 30px;
  display: block !important;
  position: relative;
  z-index: 2;
  li {
    width: 180px !important;
    a {
      width: 180px !important;
    }
  }
}
/// SLIDER

.noUi-touch-area {
  border-radius: 50%;
}
.noUi-handle, .noUi-handle-upper {
  border-radius: 50%;
  background-color: #571CD3;
  width: 20px;
  height: 20px;
  border: none;
  outline: 0;
  cursor: pointer;
}
.noUi-horizontal {
  height: 6px;
  background: #D9D9D9;
  border: none;
}
.noUi-horizontal .noUi-handle {
  box-shadow: none;
  width: 20px;
  height: 20px;
}
.noUi-handle::before, .noUi-handle::after {
  display: none;
}
  






















.menu__logo {
  font-family: "Comfortaa";
}
input {
  font-family: "Source Sans Pro";
}