@import '../src/assets/mixin_flex.scss';
@import '../src/assets/mixin_box.scss';
body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(165deg, rgba(255,100,160,0.8) 0%, rgba(85,30,210,1) 30%, rgba(87,28,211,1) 60%, rgba(154,119,229,1) 100%); 
}