@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Comfortaa';
  src: url('assets/fonts/Comfortaa/Comfortaa-Light.ttf');
}
@font-face {
  font-family: 'Comfortaa';
  src: url('assets/fonts/Comfortaa/Comfortaa-Medium.ttf');
}
@font-face {
  font-family: 'Comfortaa';
  src: url('assets/fonts/Comfortaa/Comfortaa-Regular.ttf');
}
@font-face {
  font-family: 'Comfortaa';
  src: url('assets/fonts/Comfortaa/Comfortaa-Bold.ttf');
}
@font-face {
  font-family: 'Comfortaa';
  src: url('assets/fonts/Comfortaa/Comfortaa-SemiBold.ttf');
}


@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('assets/fonts/Source-Sans-Pro/SourceSansPro-Light.ttf');
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('assets/fonts/Source-Sans-Pro/SourceSansPro-Italic.ttf');
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('assets/fonts/Source-Sans-Pro/SourceSansPro-Light.ttf');
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('assets/fonts/Source-Sans-Pro/SourceSansPro-LightItalic.ttf');
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('assets/fonts/Source-Sans-Pro/SourceSansPro-ExtraLight.ttf');
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('assets/fonts/Source-Sans-Pro/SourceSansPro-ExtraLightItalic.ttf');
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('assets/fonts/Source-Sans-Pro/SourceSansPro-Regular.ttf');
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('assets/fonts/Source-Sans-Pro/SourceSansPro-SemiBold.ttf');
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('assets/fonts/Source-Sans-Pro/SourceSansPro-SemiBoldItalic.ttf');
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('assets/fonts/Source-Sans-Pro/SourceSansPro-Bold.ttf');
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('assets/fonts/Source-Sans-Pro/SourceSansPro-Black.ttf');
}
@font-face {
  font-family: 'Source Sans Pro', sans-serif;
  src: url('assets/fonts/Source-Sans-Pro/SourceSansPro-BlackItalic.ttf');
}
@import "../src/assets/flex.less";
@import "../src/assets/design.less";


@import "nouislider/distribute/nouislider.css";

body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
  background: white;
}
.edutor .active {
    background-color: rgba(0, 0, 0, 0.2);
}
.n-j-list .active, .n-j-list:hover a  { 
  background-color: #EDECEC;
}

.home__creatiqa {
  font-family: "Comfortaa";
  background: linear-gradient(
    270deg, 
    rgba(255, 51, 133, 0.53) -20.67%,
    rgba(87, 28, 211, 0.78) 82.4%,
    #00acac 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.home__svg {
  div:nth-child(2) {
    .transform(rotate(32.61deg) translate(80px, 0));
  }
  div:nth-child(5) {
    .transform(rotate(-6.24deg) translate(200px, 460px)); 
  }
}

.d-trsfm {
  padding-top: 50px;
  margin-left: 30px;
  display: block !important;
  position: relative;
  z-index: 2;
  li {
    width: 180px !important;
    a {
      width: 180px !important;
    }
  }
}
.search-settings-editor::before {
  display: block;
  position: absolute;
  transform: translate(20px, 10px);
  content: " ";
  width: 20px;
  height: 20px;
  background: url("./assets/images/search.svg");
}
.search-settings-editor::after {
  display: block;
  position: absolute;
  transform: translate(320px, -48px);
  content: " ";
  width: 23px;
  height: 20px;
  background: url("./assets/images/camera.svg");
  @media (max-width: 1380px) {
      transform: translate(250px, -48px);
  }
}
.editor-menu .active {
  background-color: rgba(0, 0, 0, 0.5);
}


/// SLIDER

.noUi-touch-area {
  border-radius: 50%;
}
.noUi-handle, .noUi-handle-upper {
  border-radius: 50%;
  background-color: #571CD3;
  width: 20px;
  height: 20px;
  border: none;
  outline: 0;
  cursor: pointer;
}
.noUi-horizontal {
  height: 6px;
  background: #D9D9D9;
  border: none;
}
.noUi-horizontal .noUi-handle {
  box-shadow: none;
  width: 20px;
  height: 20px;
}
.noUi-handle::before, .noUi-handle::after {
  display: none;
}
  


//KONVA-JS STYLES
.konvajs-content {
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.55);
}













.menu__logo {
  font-family: "Comfortaa";
}
input {
  font-family: "Source Sans Pro";
}

